code[class*='language-'],
pre[class*='language-'],
code * {
  font-family: monospace !important;
}

pre {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow-x: auto;
}

code:not(pre>code) {
  background-color: #f2f2f2;
  color: #263E52;
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 5px;
}

.demo-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--light-grey);
  padding: 2rem;
  position: relative;
}

.demo-title {
  font-size: 0.8rem;
  font-family: var(--copy-family);
  font-weight: var(--copy-weight);
  position: absolute;
  top: 3px;
  left: 3px;
  color: var(--light-grey);
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 10px auto;
}

