* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Work Sans;
  src: url('/static/fonts/WorkSans-Regular.ttf') format('truetype'); 
  font-display: swap;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
	background-color: var(--bg);
  fill: currentColor;
}

main {
	padding: 1rem;
  margin: auto;
  width: clamp(380px, calc(85vw + 5px), 750px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-family);
  font-weight: var(--heading-weight);
  color: var(--text-secondary);
  margin-bottom: clamp(5px, calc(5px + 0.5vw), 20px);

}

h1 { font-size: clamp(2rem, calc(2vw + 2rem), 2.3rem); }
h2 { font-size: clamp(1.25rem, calc(2vw + 1.25rem), 1.7rem); }
h3 { font-size: clamp(1.15rem, calc(2vw + 1.15rem), 1.3rem); }

p, a, span:not([class*="hljs-"]), blockquote, figcaption {
  font-family: var(--copy-family);
  font-weight: var(--copy-weight);
  color: var(--text-primary);
}

p {
  margin-bottom: 20px;
  font-size: var(--copy-size);
  line-height: 1.6rem;
}

a {
  color: var(--text-secondary);
}

a:hover, a:focus { text-decoration: underline; border: none; outline: none;}

ul:not(article ul) {
  list-style: none;
}

ul.list {
  list-style: disc;
  color: var(--blue);
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  margin: 25px 0;
}

article ul {
  padding-left: revert;
}

li {
  color: var(--text-primary);
  font-size: var(--copy-size);
  font-family: var(--copy-family);
  font-weight: var(--copy-weight);
  margin-bottom: clamp(.75rem, calc(0.5vw + .1rem), 1rem);
}

ol {
  color: var(--text-primary);
  padding-left: revert;
}

ul, ol {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

figure {
	margin: auto;
	margin-bottom: 20px;
	max-width: 650px;
}

figure > img {
	margin-bottom: 10px;
}

figcaption {
	font-style: italic;
}

code[class*='language-'],
pre[class*='language-'],
code * {
  font-family: monospace !important;
}

pre {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow-x: auto;
}

pre.mermaid {
  display: flex;
  justify-content: center;
  align-items: center;
}

code:not(pre>code) {
  background-color: #f2f2f2;
  color: #263E52;
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 5px;
}

blockquote {
  margin: 3rem auto;
  border-left: 3px solid var(--text-secondary);
  font-size: clamp(1rem, calc(0.5vw + 1.2rem), 1.8rem);
  padding-left: 1.2rem;
  font-style: italic;
}

blockquote p {
  font-size: clamp(1rem, calc(0.5vw + 1.2rem), 1.4rem);
  line-height: 1.8rem;
}

/* Copy-able email links */
a[href^="mailto"] {
  position: relative;
}

a[href^="mailto"]:before {
  content: "Copy";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 30px;
  height: 20px;
  min-width: max-content;
  border: 1px solid var(--light-grey);
  padding: 3px 5px;
  background: var(--bg);
  border-radius: 3px;
  box-shadow: var(--shadow);
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
  opacity: 0;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

a[href^="mailto"]:hover:before {
  opacity: 100%;
  transform: translateY(calc(calc(5px + 100%)* -1));
}
/* clicked state util class */
a[href^="mailto"].copied:before {
  content: "\2713";
}

a[href^="mailto"].copied-error:before {
  content: "\2715";
}
/* END Copy-able email links */


