header span {
  font-size: clamp(1.1rem, calc(1vw + 1rem), 1.35rem);
  font-family: var(--heading-family);
  color: var(--text-secondary);
}

header nav {
	margin: 0;
  padding: 0;
  display: flex;
  gap: clamp(.5rem, 2vw, 30px);
}

header a {
  text-decoration: none;
  display: block;
  font-size: clamp(1rem, calc(.3rem + 1vw), 1.2rem);
  font-family: var(--heading-family)
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: clamp(12px, 3vw, 30px) 1rem;
  margin: auto;
  width: clamp(380px, calc(85vw + 5px), 750px);
  gap: 8px;
}

footer {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

footer * {
	font-size: 14px;
	font-family: var(--copy-family);
}

#copyright > span {
  color: var(--text-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

@media screen and (min-width: 400px) {
  header {
    flex-direction: row;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: grayscale(1) brightness(1.2);
  }

  code:not(pre>code) {
    background-color: #333741;    
    color: #f2f2f2;
  }
}

