.visually-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.big-copy {
  transform: scale(1.2);
  width: 70%;
  margin: 20px 0;
  margin-bottom: 40px;
}

.card {
  border: var(--border);
  border-radius: 12px;
  padding: 16px;
}

.card-dash {
  border: 1px dashed var(--light-grey);
}

div.card {
  margin-bottom: 1rem;
}

.card > a {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.card a:hover > h3 {
  text-decoration: underline;
}

.card a > p {
  color: var(--text-primary);
  font-size: calc(var(--copy-size) * 0.8);
  line-height: 16px;
}

.card * {
  margin: 0;
}

.card .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.card .tags span {
  font-size: calc(var(--copy-size) * 0.8);
  background-color: var(--light-grey);
  padding: 4px;
  border-radius: 5px;
}

.links-row { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.links-row a { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--text-primary);
  background-color: var(--extra-light-grey);
  border-radius: 5px;
}

.links-row a svg {
  width: 22px;
}

.strike {
  text-decoration: line-through;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-direction: column;
}

.mobile-hide {
  display: none;
}

.out::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 3px;
  margin-bottom: 0.5%;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  white-space: nowrap;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 10px auto;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: var(--green);
  box-shadow: 0px 0px 7px var(--green);
  margin-bottom: -2px;
}

  @media screen and (min-width: 700px) {
    .flex-row {
      flex-direction: row;
    }

    .mobile-hide {
      display: unset;
    }
  }

  /* Media Queries */

  @media print {
    .print-hide {
      display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    .status {
      filter: saturate(0.7) brightness(0.9);
    }
    
    .mermaid .flowchart-link:not(.nodes .flowchart-link) {
      filter: invert(1);
    }

    .out:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    }
  }
